%h3 A Haiku is a Japanese poem of seventeen syllables, in three lines of five, seven, and five, traditionally evoking images of the natural world.
%p Create your own:
= form_for @haiku do |form|
  = form.text_area :poem, rows: 3
  = form.submit "Submit"
